<a href="https://colab.research.google.com/github/Gaurav7004/RSE_TOOL/blob/main/RSE_TOOL_1stMay2023_2_30_PM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
# ! pip install pandarallel
# from pandarallel import pandarallel
import json
import re

In [2]:
# pandarallel.initialize()

In [3]:
df = pd.read_csv('Data1.csv')

# remove blank spaces from front and back of column names
df.columns = df.columns.str.strip()
df.columns

<ipython-input-3-fc8b3e05b5c4>:1: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Data1.csv')

Index(['SEC', 'ST', 'FSU', 'IDNO', 'SEG', 'SSS', 'SSU', 'STRM', 'SSTRM', 'SS',
       'NSS', 'NSC', 'MULT', 'HH_SIZE', 'HHTYPE', 'RELG', 'SG', 'MHCE',
       'DC_ALL', 'DC_ST', 'SRL', 'REL', 'SEX', 'MSEX', 'AGE', 'MARST',
       'GEDU_LVL', 'PAS', 'PS_SS', 'CWS', 'ERN_SELF', 'ERN_REG'],
      dtype='object')

In [28]:
# df.info()

In [5]:
## Data is the dictionary
data = {}

## Keys
key = ''

## values
values = []

## Open
with open('Example1.RSE', "r") as f:
    for line in f:
        line = line.strip()
        if line.startswith('#'):
            if key:
                key = key.split("'")[0]
                key = key.split("\t")[0]
                data[key] = [v for v in values if v and not v.startswith("'")]
            key = line.split("'")[0]
            key = key.split("\t")[0]
            values = []
        elif line.startswith("'"):
            pass
        else:
            line = line.split("'")[0]
            values.append(line.strip())

# add last group
if key:
    data[key] = [v for v in values if v and not v.startswith("'")]

print(json.dumps(data, indent=4))

{
    "#SAMPLING SUBSAMPLE2": [],
    "#GROUP 2": [
        "SEC   C sec",
        "ST_GR C NEWVAR"
    ],
    "#FILTER 1": [
        "AGE>=15"
    ],
    "#VARIABLE 3  ": [
        "POP\tN  NEWVAR",
        "LF\tN  NEWVAR",
        "WRK\tN  NEWVAR"
    ],
    "#FILE Data1.csv  ": [],
    "#RENAME  5    ": [
        "STRMID C sec+st+strm+sstrm",
        "SS     C ss",
        "NSS    N  nss",
        "NSC    N  nsc",
        "MULT   N  mult"
    ],
    "#TRANSFORM 4  ": [
        "ST_GR=(\"G1\")   ST in (\"10,19,20,21\")",
        "ST_GR=(\"G2\")   ST in (\"11,12,13,14,15,16,17,18\")",
        "ST_GR=(\"G3\")   Otherwise",
        "POP=(1)",
        "WRK=(1)  CWS in (\"11,12,21,31,41,51,61,61,71,72\")",
        "WRK=(0)  CWS NOT in (\"11,12,21,31,41,51,61,61,71,72\")",
        "LF=(1)      CWS in (\"11,12,21,31,41,51,61,61,71,72,81\")",
        "LF=(0)      Otherwise"
    ],
    "#EST_RSE 7": [
        "S POP",
        "E POP",
        "R POP",
        "E 100*LF/POP",
        "R LF/POP",
        "E 100*WRK/POP",
        "R WRK/POP"
    ]
}

In [6]:
# def GROUP_(data, df):
#     for key, value in data.items():
#         ### To read the sampling method used
#         if str('GROUP').lower() in str(key).lower():
#             if str('GROUP').lower() in str(key).lower():
#                 # Define regular expression to match three words separated by whitespace
#                 regex = r'\w+\s+\w+\s+\w+'

#                 for i in range(len(value)):
#                     # Find the first match in the string
#                     match = re.search(regex, value[i])

#                     # Print the match
#                     lst = match.group().split()

#                     if lst[0] in df.columns:
#                         if lst[1] == 'C':
#                             df[lst[0]] = df[lst[0]].astype(str)
#                     elif lst[0] not in df.columns:
#                         if lst[1] == 'C':
#                             df[lst[0]] = ''

#             else:
#                 pass

# GROUP_(data, df)

In [7]:
# df['AGE_GR']

In [8]:
def SAMPLING_(data, df):
    for key, value in data.items():
        pass

def GROUP_(data, df):
    for key, value in data.items():
        ### To read the sampling method used
        if str('SAMPLING').lower() in str(key).lower():
            if str('SUBSAMPLE2').lower() in str(key).lower():
                return str('SUBSAMPLE2')
            elif str('SRSWR').lower() in str(key).lower():
                pass
            elif str('SRSWOR').lower() in str(key).lower():
                pass

    for key, value in data.items():
        ### To read the sampling method used
        if str('GROUP').lower() in str(key).lower():
            if str('GROUP').lower() in str(key).lower():
                # Define regular expression to match three words separated by whitespace
                regex = r'\w+\s+\w+\s+\w+'

                for i in range(len(value)):
                    # Find the first match in the string
                    match = re.search(regex, value[i])

                    # Print the match
                    lst = match.group().split()

                    if lst[0] in df.columns:
                        if lst[1] == 'C':
                            df[lst[0]] = df[lst[0]].astype(str)
                    elif lst[0] not in df.columns:
                        if lst[1] == 'C':
                            df[lst[0]] = ''

            else:
                pass

def FILTER_(data, df):
    for key, value in data.items():
        ### To read the sampling method used
        if str('FILTER').lower() in str(key).lower():
            ### Replace logical AND '&&' with 'and'
            if '&&' in value[0]:
                return value[0].replace('&&', '&')
            ### Replace logical OR '||' with 'or'
            elif '||' in value[0]:
                return value[0].replace('||', '|')
            else:
                return value[0]

def FILE_(data):
    for key, value in data.items():
        ### To read the file used
        if str('FILE').lower() in str(key).lower():
            if key.strip().endswith('.xlsx') or key.strip().endswith('.csv'):
                match = re.search(r'[A-Za-z0-9]+\.xlsx|[A-Za-z0-9]+\.csv', key)   
                if match:
                    file_name = match.group(0)
                    return file_name
                else:
                    file_name = None
                    return file_name
                print(file_name)

            # return file_name

def RENAME_(data, df):
    # create an empty dictionary to store the column names
    column_dict = {}

    for key, value in data.items():
        ### To read the file used
        if str('RENAME').lower() in str(key).lower():
            # value = [elem for elem in value[0].split(' ') if elem.strip()]
            # return value

            for col in value:
                col_split = col.split()

                # print(col_split[0])

                # extract the last element as the column name
                col_name = col_split[-1]

                new_col_name = col_split[0]

                ### if there is a "+" sign in the last element, concatenate the columns
                if "+" in col_name:
                    col_concat = col_name.split("+")
                    col_concat = [i.upper() for i in col_concat]

                    # concatenate the columns
                    # df[new_col_name] = df.loc[:, col_concat].apply(lambda x: ''.join(['0' + str(i) if i < 10 else str(i) for i in x]), axis=1)
                    # df[new_col_name] = df.loc[:, col_concat].apply(lambda x: ''.join(['0' + str(i) if i < 10 else str(i) for i in x]), axis=1)
                    df[new_col_name] = df.loc[:, col_concat].apply(lambda x: ''.join(['0' + str(i) if int(i) < 10 else str(i) for i in x]), axis=1)


                else:
                    col_name = col_name.upper()
                    print(type(col_name))


def NEWVARIABLE_(data, df):
    for key, value in data.items():
        ### To read the file used
        if str('VARIABLE').lower() in str(key).lower():
            value = [s.split()[0] for s in value]
            
            for name in value:
                df[name] = 0


def TRANSFORM_(data):
    global condition

    # Initialize empty arrays to store the values
    Arr1 = []
    Arr2 = []
    Arr3 = []

    for key, value in data.items():
        ### To read the file used
        if str('TRANSFORM').lower() in str(key).lower():
            lines = '\n'.join(value)
            lines = lines.split("\n")

            # Loop through the lines and extract the values
            for line in lines:
                line_values = line.split('=')  # split the line into values
                
                var_name = line_values[0].strip()  # extract the variable name
                
                var_value = line_values[1].strip().split()[0]  # extract the variable value

                # ### Repalcing the parenthesis in var_value
                # var_value = var_value.replace("(", "").replace(")", "")

                # # Check if string contains "+"
                # if "+" in var_value:
                #     columns = var_value.split("+")
                #     print(columns, type(columns))
                #     var_value = df[columns].sum(axis=1)
                    
                # else:
                #     # Check if string is a valid column name
                #     if var_value in df.columns:
                #         var_value = df[var_value]
                #     else:
                #         # Check if string is an integer
                #         pass
                            
                # Regular expression pattern to extract the condition
                pattern = r'^\w+=\([^\)]*\)(?:\s+(.*?)(?:\n|$))?$'

                # Split the string into lines and extract the condition from each line
                conditions = []

                for line in line.split('\n'):
                    match = re.match(pattern, line)
                 
                    if match:
                        condition = match.group(1)
                        
                        if condition is not None:
                            conditions.append(condition.strip())
                        else:
                            conditions.append(None)

                # Append the values to the arrays
                Arr1.append(var_name)
                Arr2.append(var_value)

                Arr3.append(condition)

    return Arr1, Arr2, Arr3
        

def EST_RSE_(data):
    for key, value in data.items():
        pass

GROUP_(data, df)
TRANSFORM_(data)
RENAME_(data, df)
NEWVARIABLE_(data, df)
FILE_(data)
FILTER_(data, df)

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

'AGE>=15'

In [9]:
TRANSFORM_(data)

(['ST_GR', 'ST_GR', 'ST_GR', 'POP', 'WRK', 'WRK', 'LF', 'LF'],
 ['("G1")', '("G2")', '("G3")', '(1)', '(1)', '(0)', '(1)', '(0)'],
 ['ST in ("10,19,20,21")',
  'ST in ("11,12,13,14,15,16,17,18")',
  'Otherwise',
  None,
  'CWS in ("11,12,21,31,41,51,61,61,71,72")',
  'CWS NOT in ("11,12,21,31,41,51,61,61,71,72")',
  'CWS in ("11,12,21,31,41,51,61,61,71,72,81")',
  'Otherwise'])

In [10]:
df.columns

Index(['SEC', 'ST', 'FSU', 'IDNO', 'SEG', 'SSS', 'SSU', 'STRM', 'SSTRM', 'SS',
       'NSS', 'NSC', 'MULT', 'HH_SIZE', 'HHTYPE', 'RELG', 'SG', 'MHCE',
       'DC_ALL', 'DC_ST', 'SRL', 'REL', 'SEX', 'MSEX', 'AGE', 'MARST',
       'GEDU_LVL', 'PAS', 'PS_SS', 'CWS', 'ERN_SELF', 'ERN_REG', 'STRMID',
       'POP', 'LF', 'WRK'],
      dtype='object')

In [11]:
def parse_query_string(query_string):
    # Replace curly quotes with straight quotes
    query_string = query_string.replace("”", "\"")
    
    if 'in' in query_string:
        if ('NOT in' or 'not in') in query_string:
            query_string = re.sub(r'(\b\w+\b)\s+NOT in\s*\(([^)]+)\)', r'~\1.isin([\2])', query_string)
            query_string = re.sub(r'(\b\w+\b)\s+in\s*\(([^)]+)\)', r'\1.isin([\2])', query_string)
        elif 'in' in query_string:
            # Replace 'in' operators with 'isin' and add list brackets
            query_string = re.sub(r'(\b\w+\b)\s+in\s*\(([^)]+)\)', r'\1.isin([\2])', query_string)
        else:
            pass
            
    else:
        query_string = re.sub(r'''(\b\w+\b)(\s*[<>=!]+\s*)('[^']*'|"[^"]*")|(\b\w+\b)(\s*[<>=!]+\s*)("[^]*'|"[^"]*")''', r'\1\2\3', query_string)
        query_string = re.sub(r'''(\b\w+\b)(\s*[<>=!]+\s*)(\d+)''', r'\1\2\3', query_string)

    # Replace double quotes with single quotes
    query_string = query_string.replace("\"", "'")
    
    # Replace 'AND' with '&', 'OR' with '|', and add parentheses
    query_string = query_string.replace(" AND ", " & ")\
                        .replace(" OR ", " | ").\
                            replace("&&", '&').\
                                replace('||', '|').\
                                    replace('<>', '!=')
    
    # Replace column names with df[column] syntax
    query_string = re.sub(r'(\b\w+\b)=', r'df["\1"]==', query_string)


    # Define a function to replace variable names with df["<variable_name>"]
    def replace_var(match):
        return f'df["{match.group(0)}"]'

    # Use regex to replace variable names with df["<variable_name>"]
    pattern = re.compile(r'''\b\w+\b(?=\s*[<>=!]=*\s*[\'"\d])''')
    new_string = pattern.sub(replace_var, query_string)

    query_string = re.sub(r"'(\d+)'|\"(\d+)\"", lambda match: str(int(match.group(1) or match.group(2))), query_string)
    query_string = re.sub(r'\[(\d+,\s*)+\d+\]', lambda match: '[' + match.group(0).replace("\'", "'") + ']', query_string)
    
    return query_string


final_parsed_query = []

for i in list(TRANSFORM_(data))[2]:
    # print(i)
    if i:
        parsed_query = parse_query_string(i)
        final_parsed_query.append(parsed_query)
    else:
        final_parsed_query.append(i)

# new_lst = [s.replace("['", "[").replace("']", "]") for s in final_parsed_query]
# print([s.replace("['", "[").replace("']", "]") for s in final_parsed_query if s else pass])
# final_parsed_query = [s.replace("['", "[").replace("']", "]") if s is not None else None for s in final_parsed_query]
final_parsed_query

["ST.isin(['10,19,20,21'])",
 "ST.isin(['11,12,13,14,15,16,17,18'])",
 'Otherwise',
 None,
 "CWS.isin(['11,12,21,31,41,51,61,61,71,72'])",
 "~CWS.isin(['11,12,21,31,41,51,61,61,71,72'])",
 "CWS.isin(['11,12,21,31,41,51,61,61,71,72,81'])",
 'Otherwise']

In [12]:
df.columns

Index(['SEC', 'ST', 'FSU', 'IDNO', 'SEG', 'SSS', 'SSU', 'STRM', 'SSTRM', 'SS',
       'NSS', 'NSC', 'MULT', 'HH_SIZE', 'HHTYPE', 'RELG', 'SG', 'MHCE',
       'DC_ALL', 'DC_ST', 'SRL', 'REL', 'SEX', 'MSEX', 'AGE', 'MARST',
       'GEDU_LVL', 'PAS', 'PS_SS', 'CWS', 'ERN_SELF', 'ERN_REG', 'STRMID',
       'POP', 'LF', 'WRK'],
      dtype='object')

In [13]:
Arr1 = list(TRANSFORM_(data))[0]
Arr2 = list(TRANSFORM_(data))[1]

print(Arr2)
Arr2 = [i.strip('()\'\"') for i in Arr2]
Arr3 = final_parsed_query

Arr2 = [float(elem) if elem.replace('.', '', 1).isdigit() else elem for elem in Arr2]


# print(Arr1)
# print(Arr2)
# print(Arr3)

['("G1")', '("G2")', '("G3")', '(1)', '(1)', '(0)', '(1)', '(0)']

In [14]:
df.head(3)

,SEC,ST,FSU,IDNO,SEG,SSS,SSU,STRM,SSTRM,SS,...,GEDU_LVL,PAS,PS_SS,CWS,ERN_SELF,ERN_REG,STRMID,POP,LF,WRK
0,1,28,17469,1,1,1,1,1,1,1,...,1.0,51,51,51,0,0,01280101,0,0,0
1,1,28,17469,1,1,1,1,1,1,1,...,8.0,91,91,91,0,0,01280101,0,0,0
2,1,28,17469,1,1,1,1,1,1,1,...,10.0,91,91,91,0,0,01280101,0,0,0

In [15]:
set(Arr1) - set(list(df.columns))

{'ST_GR'}

In [16]:

# Check for name mismatches and create new columns
mismatched_names = set(Arr1) - set(df.columns)

new_columns = {name: [0] * df.shape[0] for name in mismatched_names}
df = df.assign(**new_columns)

mismatched_names

{'ST_GR'}

In [17]:
Arr3

["ST.isin(['10,19,20,21'])",
 "ST.isin(['11,12,13,14,15,16,17,18'])",
 'Otherwise',
 None,
 "CWS.isin(['11,12,21,31,41,51,61,61,71,72'])",
 "~CWS.isin(['11,12,21,31,41,51,61,61,71,72'])",
 "CWS.isin(['11,12,21,31,41,51,61,61,71,72,81'])",
 'Otherwise']

In [18]:
Arr3 = [i.replace("(['", "([").replace("'])", "])") if i is not None else 'True' if Arr3[j] == 'Otherwise' else True for j, i in enumerate(Arr3)]
Arr3

['ST.isin([10,19,20,21])',
 'ST.isin([11,12,13,14,15,16,17,18])',
 'Otherwise',
 True,
 'CWS.isin([11,12,21,31,41,51,61,61,71,72])',
 '~CWS.isin([11,12,21,31,41,51,61,61,71,72])',
 'CWS.isin([11,12,21,31,41,51,61,61,71,72,81])',
 'Otherwise']

In [19]:
new_arr3 = []
for i, value in enumerate(Arr3):
    if value == 'Otherwise':
        other_values = set([Arr3[j] for j in range(len(Arr3)) if Arr1[j] == Arr1[i] and Arr3[j] != 'Otherwise'])
        new_value = '~' + ' & ~'.join(other_values)
        new_arr3.append(new_value)
    else:
        new_arr3.append(value)

new_arr3

['ST.isin([10,19,20,21])',
 'ST.isin([11,12,13,14,15,16,17,18])',
 '~ST.isin([11,12,13,14,15,16,17,18]) & ~ST.isin([10,19,20,21])',
 True,
 'CWS.isin([11,12,21,31,41,51,61,61,71,72])',
 '~CWS.isin([11,12,21,31,41,51,61,61,71,72])',
 'CWS.isin([11,12,21,31,41,51,61,61,71,72,81])',
 '~CWS.isin([11,12,21,31,41,51,61,61,71,72,81])']

In [20]:
Arr3 = new_arr3

In [21]:
df.columns

Index(['SEC', 'ST', 'FSU', 'IDNO', 'SEG', 'SSS', 'SSU', 'STRM', 'SSTRM', 'SS',
       'NSS', 'NSC', 'MULT', 'HH_SIZE', 'HHTYPE', 'RELG', 'SG', 'MHCE',
       'DC_ALL', 'DC_ST', 'SRL', 'REL', 'SEX', 'MSEX', 'AGE', 'MARST',
       'GEDU_LVL', 'PAS', 'PS_SS', 'CWS', 'ERN_SELF', 'ERN_REG', 'STRMID',
       'POP', 'LF', 'WRK', 'ST_GR'],
      dtype='object')

In [22]:
# Apply the queries in Arr3 to filter the rows of the dataframe
for i, query_str in enumerate(Arr3):
    if query_str is True:
        df[Arr1[i]] = Arr2[i]
    else:
        print(query_str)

        try:
            df_query = df.query(query_str)
            df.loc[df_query.index, Arr1[i]] = Arr2[i]
        except:
            pass

print(df)

ST.isin([10,19,20,21])
ST.isin([11,12,13,14,15,16,17,18])
~ST.isin([11,12,13,14,15,16,17,18]) & ~ST.isin([10,19,20,21])
CWS.isin([11,12,21,31,41,51,61,61,71,72])
~CWS.isin([11,12,21,31,41,51,61,61,71,72])
CWS.isin([11,12,21,31,41,51,61,61,71,72,81])
~CWS.isin([11,12,21,31,41,51,61,61,71,72,81])
        SEC  ST    FSU  IDNO  SEG  SSS  SSU  STRM  SSTRM  SS  ...  PAS  PS_SS  \
0         1  28  17469     1    1    1    1     1      1   1  ...   51     51
1         1  28  17469     1    1    1    1     1      1   1  ...   91     91
2         1  28  17469     1    1    1    1     1      1   1  ...   91     91
3         1  28  17469     1    1    1    1     1      1   1  ...   51     51
4         1  28  17469     2    1    1    2     1      1   1  ...   51     51
...     ...  ..    ...   ...  ...  ...  ...   ...    ...  ..  ...  ...    ...
109851    2  34  27428     7    1    4    1     1      3   2  ...   94     94
109852    2  34  27428     8    1    4    2     1      3   2  ...   51     51
109853    2  34  27428     8    1    4    2     1      3   2  ...   91     91
109854    2  34  27428     8    1    4    2     1      3   2  ...   92     92
109855    2  34  27428     8    1    4    2     1      3   2  ...   94     94

        CWS  ERN_SELF  ERN_REG    STRMID  POP  LF  WRK  ST_GR
0        51         0        0  01280101  1.0   1    1     G3
1        91         0        0  01280101  1.0   0    0     G3
2        91         0        0  01280101  1.0   0    0     G3
3        51         0        0  01280101  1.0   1    1     G3
4        51         0        0  01280101  1.0   1    1     G3
...     ...       ...      ...       ...  ...  ..  ...    ...
109851   94         0        0  02340103  1.0   0    0     G3
109852   51         0        0  02340103  1.0   1    1     G3
109853   91         0        0  02340103  1.0   0    0     G3
109854   92         0        0  02340103  1.0   0    0     G3
109855   94         0        0  02340103  1.0   0    0     G3

[109856 rows x 37 columns]

In [28]:
# Example dataframe
df = pd.DataFrame({
    'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
    'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
    'C': [1, 2, 3, 4, 5, 6, 7, 8],
    'D': [10, 20, 30, 40, 50, 60, 70, 80],
    'E': ['foo1', 'bar1', 'foo1', 'bar1', 'foo1', 'bar1', 'foo1', 'foo1'],
    'F': ['one2', 'one2', 'two2', 'three2', 'two2', 'two2', 'one2', 'three2'],
    'G': [101, 201, 301, 401, 501, 601, 701, 801],
})

# Define the prefix to use for the new columns
prefix = 'Z'

lst = ['T1', 'T2', 'T3']

for idx, col in enumerate(df.columns):
    for i in range(len(lst)):
        # Create a new column with the appropriate number of "Z"s and the prefix
        new_col_val = prefix * (i+1)
        # Add the new column to the DataFrame
        df[lst[i]] = new_col_val


# Print the resulting DataFrame
print(df)

     A      B  C   D     E       F    G T1  T2   T3
0  foo    one  1  10  foo1    one2  101  Z  ZZ  ZZZ
1  bar    one  2  20  bar1    one2  201  Z  ZZ  ZZZ
2  foo    two  3  30  foo1    two2  301  Z  ZZ  ZZZ
3  bar  three  4  40  bar1  three2  401  Z  ZZ  ZZZ
4  foo    two  5  50  foo1    two2  501  Z  ZZ  ZZZ
5  bar    two  6  60  bar1    two2  601  Z  ZZ  ZZZ
6  foo    one  7  70  foo1    one2  701  Z  ZZ  ZZZ
7  foo  three  8  80  foo1  three2  801  Z  ZZ  ZZZ

In [20]:
df

     A      B  C   D     E       F    G       T1       T2       T3
0  foo    one  1  10  foo1    one2  101  ZZZZZZZ  ZZZZZZZ  ZZZZZZZ
1  bar    one  2  20  bar1    one2  201  ZZZZZZZ  ZZZZZZZ  ZZZZZZZ
2  foo    two  3  30  foo1    two2  301  ZZZZZZZ  ZZZZZZZ  ZZZZZZZ
3  bar  three  4  40  bar1  three2  401  ZZZZZZZ  ZZZZZZZ  ZZZZZZZ
4  foo    two  5  50  foo1    two2  501  ZZZZZZZ  ZZZZZZZ  ZZZZZZZ
5  bar    two  6  60  bar1    two2  601  ZZZZZZZ  ZZZZZZZ  ZZZZZZZ
6  foo    one  7  70  foo1    one2  701  ZZZZZZZ  ZZZZZZZ  ZZZZZZZ
7  foo  three  8  80  foo1  three2  801  ZZZZZZZ  ZZZZZZZ  ZZZZZZZ

In [25]:
df.to_csv('WorkFile_Balanced_Half_Sample_Method.csv')

In [26]:
df.columns

Index(['SEC', 'ST', 'FSU', 'IDNO', 'SEG', 'SSS', 'SSU', 'STRM', 'SSTRM', 'SS',
       'NSS', 'NSC', 'MULT', 'HH_SIZE', 'HHTYPE', 'RELG', 'SG', 'MHCE',
       'DC_ALL', 'DC_ST', 'SRL', 'REL', 'SEX', 'MSEX', 'AGE', 'MARST',
       'GEDU_LVL', 'PAS', 'PS_SS', 'CWS', 'ERN_SELF', 'ERN_REG', 'STRMID',
       'POP', 'LF', 'WRK', 'ST_GR'],
      dtype='object')

In [1]:
groupby_cols_subset = ['A', 'B', 'E', 'F']
agg_cols = ['C', 'D']

agg_dict = {col: 'sum' for col in agg_cols}

print(agg_dict)

df.groupby(groupby_cols_subset).agg(agg_dict).reset_index()

{'C': 'sum', 'D': 'sum'}

NameError: ignored

In [8]:
import pandas as pd
import itertools

# Example dataframe
df = pd.DataFrame({
    'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
    'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
    'C': [1, 2, 3, 4, 5, 6, 7, 8],
    'D': [10, 20, 30, 40, 50, 60, 70, 80],
    'E': ['foo1', 'bar1', 'foo1', 'bar1', 'foo1', 'bar1', 'foo1', 'foo1'],
    'F': ['one2', 'one2', 'two2', 'three2', 'two2', 'two2', 'one2', 'three2'],
    'G': [101, 201, 301, 401, 501, 601, 701, 801],
})

lst_df = list(df.columns)

# Select columns to group by
groupby_cols = ['A', 'B', 'E']

# Create a list of all possible subsets of groupby_cols
groupby_cols_subsets = [list(subset) for i in range(len(groupby_cols) + 1)
                        for subset in itertools.combinations(groupby_cols, i)]

# Select columns that are not in groupby_cols
cols = [col for col in df.columns if col not in groupby_cols]

agg_dict = {col: sum for col in cols}

i = 0
# Loop over each subset of columns and perform the aggregation
for groupby_cols_subset in groupby_cols_subsets:
    # Define the prefix to use for the new columns
    prefix = 'Z'

    if len(groupby_cols_subset) == 0:

        # # If empty list is selected, perform aggregation without grouping
        new_df = df.agg(agg_dict).to_frame().T

        test_lst = list(set(lst_df) - set(list(new_df.columns)))

        new_df['groupby_cols'] = 'All columns'

        new_col_val_ = []
        for i in range(len(test_lst)):
            # Create a new column with the appropriate number of "Z"s and the prefix
            new_col_val_.append(prefix * (i+1))

        for i in range(len(new_col_val_)):
            # Add the new column to the DataFrame
            new_df[test_lst[i]] = new_col_val_[i]
        
        i += 1
        print(new_df, '\n')

        continue

    # Create a new dataframe by grouping by the selected columns and aggregating
    # Note: here I'm just calculating the sum of columns C and D, but you can use any aggregation function
    new_df = df.groupby(list(groupby_cols_subset)).agg(agg_dict).reset_index()

    test_lst = list(set(lst_df) - set(list(new_df.columns)))

    # # Add a new column to indicate which groupby columns are selected
    new_df['groupby_cols'] = ', '.join(groupby_cols_subset)

    new_col_val = []
    for i in range(len(test_lst)):
        # Create a new column with the appropriate number of "Z"s and the prefix
        new_col_val.append(prefix * (i+1))

    for i in range(len(new_col_val)):
        # Add the new column to the DataFrame
        new_df[test_lst[i]] = new_col_val[i]

    i += 1
    
    print(new_df, '\n')

    C    D                                     F     G groupby_cols  E   A  \
0  36  360  one2one2two2three2two2two2one2three2  3608  All columns  Z  ZZ

     B
0  ZZZ

     A   C    D                       F     G groupby_cols  E   B
0  bar  12  120          one2three2two2  1203            A  Z  ZZ
1  foo  24  240  one2two2two2one2three2  2405            A  Z  ZZ

       B   C    D             F     G groupby_cols  E   A
0    one  10  100  one2one2one2  1003            B  Z  ZZ
1  three  12  120  three2three2  1202            B  Z  ZZ
2    two  14  140  two2two2two2  1403            B  Z  ZZ

      E   C    D                       F     G groupby_cols  A   B
0  bar1  12  120          one2three2two2  1203            E  Z  ZZ
1  foo1  24  240  one2two2two2one2three2  2405            E  Z  ZZ

     A      B  C   D         F    G groupby_cols  E
0  bar    one  2  20      one2  201         A, B  Z
1  bar  three  4  40    three2  401         A, B  Z
2  bar    two  6  60      two2  601         A, B  Z
3  foo    one  8  80  one2one2  802         A, B  Z
4  foo  three  8  80    three2  801         A, B  Z
5  foo    two  8  80  two2two2  802         A, B  Z

     A     E   C    D                       F     G groupby_cols  B
0  bar  bar1  12  120          one2three2two2  1203         A, E  Z
1  foo  foo1  24  240  one2two2two2one2three2  2405         A, E  Z

       B     E  C   D         F    G groupby_cols  A
0    one  bar1  2  20      one2  201         B, E  Z
1    one  foo1  8  80  one2one2  802         B, E  Z
2  three  bar1  4  40    three2  401         B, E  Z
3  three  foo1  8  80    three2  801         B, E  Z
4    two  bar1  6  60      two2  601         B, E  Z
5    two  foo1  8  80  two2two2  802         B, E  Z

     A      B     E  C   D         F    G groupby_cols
0  bar    one  bar1  2  20      one2  201      A, B, E
1  bar  three  bar1  4  40    three2  401      A, B, E
2  bar    two  bar1  6  60      two2  601      A, B, E
3  foo    one  foo1  8  80  one2one2  802      A, B, E
4  foo  three  foo1  8  80    three2  801      A, B, E
5  foo    two  foo1  8  80  two2two2  802      A, B, E

**STEP 1**

In [9]:
import pandas as pd
import numpy as np

# # Read the data from the CSV file
# df = pd.read_csv('Work_File1A.csv')

# Get the current column names
old_col_names = df.columns.tolist()

# Create a dictionary with the new column names
new_col_names = {col: col.strip() for col in old_col_names}

# Rename the columns using the dictionary
df.rename(columns=new_col_names, inplace=True)

# Calculate the SS_MULT and CMULT fields
df['SS_MULT'] = df['MULT'] / 100
df['CMULT'] = df.apply(lambda row: row['MULT'] / 200 if row['NSC'] > row['NSS'] else row['MULT'] / 100, axis=1)

# Group the data by SEC and ST_GR and calculate the aggregates
grouped_df = df.groupby(['SEC', 'ST_GR']).agg({'POP': lambda x: (pd.to_numeric(x) * df['CMULT']).sum(),
                                                    'LF': lambda x: (pd.to_numeric(x) * df['CMULT']).sum(),
                                                        'WRK': lambda x: (pd.to_numeric(x) * df['CMULT']).sum(),
                                                            'MULT': 'count'})



# Rename the columns and reset the index
grouped_df = grouped_df.rename(columns={'POP': 'pophat', 'LF': 'lfhat', 'WRK': 'wrkhat', 'MULT': 'no_sam'}).reset_index()

KeyError: ignored

In [ ]:
grouped_df

In [ ]:
for i in range(2**len(group_cols)):
    # Convert the integer to a binary string and pad with zeros
    binary_str = bin(i)[2:].zfill(len(group_cols))
    # Create the new column name based on the binary string
    new_col = 'NOT_ALL' if '0' in binary_str else 'ALL'
    new_col += '_' + '_'.join([group_cols[j] for j in range(len(group_cols)) if binary_str[j] == '1'])
    # Add the new column name to the list
    new_cols.append(new_col)

In [ ]:
new_cols

In [ ]:
df['SS_MULT'].unique()

In [ ]:
df.columns

In [ ]:
df['no_sam'] = 0

**STEP 2**

In [ ]:
# Filter dataframe to include only rows where SS is 1 or 2
df = df.query("SS in [1, 2]")
print(f"Number of rows after filtering: {len(df)}")

w2 = df.groupby(['SEC', 'ST_GR', 'STRMID']).agg(
    popstr=('POP', lambda x: np.sum(x * df['CMULT'])),
    s1pop=('POP', lambda x: np.nansum(np.where(df['SS'] == 1, x * df['SS_MULT'], 0))),
    s2pop=('POP', lambda x: np.nansum(np.where(df['SS'] == 2, x * df['SS_MULT'], 0))),
    lfstr=('LF', lambda x: np.nansum(x * df['CMULT'])),
    s1lf=('LF', lambda x: np.nansum(np.where(df['SS'] == 1, x * df['SS_MULT'], 0))),
    s2lf=('LF', lambda x: np.nansum(np.where(df['SS'] == 2, x * df['SS_MULT'], 0))),
    wrkstr=('WRK', lambda x: np.nansum(x * df['CMULT'])),
    s1wrk=('WRK', lambda x: np.nansum(np.where(df['SS'] == 1, x * df['SS_MULT'], 0))),
    s2wrk=('WRK', lambda x: np.nansum(np.where(df['SS'] == 2, x * df['SS_MULT'], 0)))
).reset_index()

In [ ]:
w2

In [ ]:
# Join w2 and w1 on SEC and ST_GR columns
w3 = w2.merge(grouped_df, on=['SEC', 'ST_GR'], suffixes=('_str', '_grp'))

# Add new columns to w3
w3['r1hat'] = w3['lfhat'] / w3['pophat']
w3['r2hat'] = w3['wrkhat'] / w3['pophat']

In [ ]:
w3

In [ ]:
# Equate s1pop and s2pop
w3.loc[w3['popstr'] == w3['s1pop'], 's1pop'] = w3.loc[w3['popstr'] == w3['s1pop'], 's2pop']
w3.loc[w3['popstr'] == w3['s2pop'], 's2pop'] = w3.loc[w3['popstr'] == w3['s2pop'], 's1pop']

# Equate s1lf and s2lf
w3.loc[w3['lfstr'] == w3['s1lf'], 's1lf'] = w3.loc[w3['lfstr'] == w3['s1lf'], 's2lf']
w3.loc[w3['lfstr'] == w3['s2lf'], 's2lf'] = w3.loc[w3['lfstr'] == w3['s2lf'], 's1lf']

# Equate s1wrk and s2wrk
w3.loc[w3['wrkstr'] == w3['s1wrk'], 's1wrk'] = w3.loc[w3['wrkstr'] == w3['s1wrk'], 's2wrk']
w3.loc[w3['wrkstr'] == w3['s2wrk'], 's2wrk'] = w3.loc[w3['wrkstr'] == w3['s2wrk'], 's1wrk']

In [ ]:
w4 = w3.groupby(['SEC', 'ST_GR', 'no_sam', 'pophat', 'lfhat', 'wrkhat', 'r1hat', 'r2hat']).agg(
    var_pop = ('s1pop', lambda x: np.sum((x - w3['s2pop']) ** 2)),

    mse_R1 = ('s1lf', lambda x: np.nansum(
                ((x - w3['s2lf']) ** 2) +
                    ((w3['r1hat'] ** 2) * ((w3['s1pop'] - w3['s2pop']) ** 2) -
                        (2 * w3['r1hat'] * (x - w3['s2lf']) * (w3['s1pop'] - w3['s2pop'])))
            )),

    mse_R2 = ('s1wrk', lambda x: np.nansum(
                ((x - w3['s2wrk']) ** 2) +
                    ((w3['r2hat'] ** 2) * ((w3['s1pop'] - w3['s2pop']) ** 2) -
                        (2 * w3['r2hat'] * (x - w3['s2wrk']) * (w3['s1pop'] - w3['s2pop'])))
            ),
    
    
)).reset_index()

In [ ]:
# Calculate RSEs for each variable in T1
w5 = w4.assign(
    RSE_POP=lambda x: 100 * (x['var_pop'] ** 0.5) / (2 * x['pophat']),
    RSE_R1=lambda x: 100 * (x['mse_R1'] ** 0.5) / (2 * x['lfhat']),
    RSE_R2=lambda x: 100 * (x['mse_R2'] ** 0.5) / (2 * x['wrkhat'])
)

In [ ]:
w5

In [ ]:
# assuming the data is loaded into a DataFrame called w5
T1 = w5[['SEC', 'ST_GR', 'no_sam', 'pophat', 'lfhat', 'wrkhat', 'r1hat', 'r2hat', 'RSE_POP', 'RSE_R1', 'RSE_R2']].copy()

# add empty columns for sec_desc and st_gr_desc
T1['sec_desc'] = ''
T1['st_gr_desc'] = ''

# apply formatting to columns
T1['R1'] = 100 * T1['r1hat']
T1['R2'] = 100 * T1['r2hat']

# reorder columns
T1 = T1[['SEC', 'ST_GR', 'sec_desc', 'st_gr_desc', 'no_sam', 'pophat','lfhat', 'wrkhat', 'RSE_POP', 'R1', 'RSE_R1', 'R2', 'RSE_R2']]

# print the resulting DataFrame
print(T1)

In [ ]:
T1 = w5[['SEC', 'ST_GR', 'no_sam', 'pophat','lfhat', 'wrkhat', 'r1hat', 'r2hat', 'RSE_POP', 'RSE_R1', 'RSE_R2']].copy()
T1['sec_desc'] = ' '*12
T1['st_gr_desc'] = ' '*12
T1['R1'] = 100 * T1['r1hat']
T1['R2'] = 100 * T1['r2hat']
T1 = T1[['SEC', 'ST_GR', 'no_sam', 'pophat','lfhat', 'wrkhat', 'RSE_POP', 'R1', 'RSE_R1', 'R2', 'RSE_R2']]
T1

In [ ]:
# T1.to_csv('T1_Balanced_Half_Sample_Method.csv')

In [ ]:
T1.columns

In [ ]:
import pandas as pd

# Read the data into a pandas DataFrame
# df = pd.read_csv('your_file.csv')

# Create a dictionary to hold the T1, T2, T3, T4 DataFrames
t_dict = {}

# T1
t_dict['T1'] = T1[['SEC', 'ST_GR', 'no_sam', 'pophat', 'lfhat', 'wrkhat', 'RSE_POP', 'R1', 'RSE_R1', 'R2', 'RSE_R2']]

# T2
t_dict['T2'] = T1.groupby(['SEC', 'ST_GR']).sum().reset_index()
# t_dict['T2']['SEC'] = 'Z'
# t_dict['T2'] = t_dict['T2'][['SEC', 'ST_GR', 'no_samp', 'est_x']]

# T3
t_dict['T3'] = T1.groupby(['SEC', 'ST_GR']).sum().reset_index()
# t_dict['T3']['st'] = 'ZZ'
# t_dict['T3'] = t_dict['T3'][['sec', 'st', 'no_samp', 'est_x']]

# T4
t_dict['T4'] = T1.groupby(['SEC', 'ST_GR']).sum().reset_index()
# t_dict['T4']['sec'] = 'Z'
# t_dict['T4']['st'] = 'ZZ'
# t_dict['T4'] = t_dict['T4'][['sec', 'st', 'no_samp', 'est_x']]

# Print the T1, T2, T3, T4 DataFrames
for key, value in t_dict.items():
    print(key)
    print(value)